*{
    font-family: 'FuturaBook', sans-serif;
}
h2{
    font-family: 'FuturaDemi','sans-serif'!important;

}
body{
    margin: 0;
}
.wrapper{
    min-width: 1300px;
    overflow: hidden;
}
.headermenu-content{
    height: 140px;
}
.header-logo img{
    width: 47px;
    height: 18px;
}
.header-logo{
    width: 140px;
}

.header-search{
     width: 120px;  /*220 если с полем ввода*/
    /* margin-right: 65px; */
}

.header-search img{
    width: 19px;
    height: 19px;
    cursor: pointer;
}
.header-search input{
    height: 30px;
    margin: auto 0;
    margin-right: 30px;
    border: 0px;
    background: lightgrey;
    padding-left:10px;
    border-radius: 20px;
}
.headermenu-content{
    justify-content: space-between;
}
.header-menu ul{
    width: 100%;
    justify-content: space-between;
    height: fit-content;
    font-weight: bold;
}
.header-menu ul li{
    margin-left:70px;
}
.section{
    width: 100%;
}
.container{
    width: 1300px;
}
.section1-column-left{
    width: 860px;
    position: relative;
    height: 100%;
}
.redquad{
    width: 251px;
    height: 72px;
    background-color: #e64344;
    position: absolute;
    z-index: -1;
    left: 175px;
}
.section1-column-left img{
    width: 594px;
    height: 316px;
    position: absolute;
    right: 0;
    top:140px;
}
.section1-content{
    height: 680px;
}
.img-shadow-1s img{
    height: 739px;
    width: 94px;
    position: absolute;
    bottom: 160px;
    right: 230px;
    transform: rotate(90deg);
}
.section1-img-title{
    margin-left: 42px;
    line-height: 131px;
    font-family: 'FuturaBold';
    letter-spacing: 10px;
    font-size: 105pt;
}
.sec1-column-right-title h2{
    width: fit-content;
    font-weight: bold;
}
.section1-column-right{
    margin-left: 100px;
    margin-top: 137px;
    width: 300px;
    position: relative;
}
.sec1-column-right-text{
    margin-top:40px;
    color:#6c6c6c
}
.addtocart{
    margin-top:55px;
    color: black;
    font-weight: bold;
    width: fit-content;
    
}
.addtocart span:nth-child(2){
    width: 30px;
    height: 30px;
    background-color: rgb(138, 38, 38);
    border-radius: 50%;
    padding: 5px;
    margin: auto;
}
.addtocart img {
    /* width: 76px; */
    height: 33px;
    padding-left: 15px;
}
.addtocart div{
    margin-left:5px;
}
.sec1-img-cross2 img{
    width: 303px;
    height: 150px;
    position: relative;
    bottom: 0;
}
.sec1-img-cross2{
    position: absolute;
    bottom: 0;
    margin-left:110px;
}
.follow img{
    height: 17px!important;
    width: 17px;
    all: unset;
}
.follow img:nth-child(2){
    margin-left: 15px;
}

.subimage-content{
    margin-top:auto;
    align-items: flex-end;
}
.slider>ul{
    margin-right: 100px;
}
.slider>ul li{
    border-bottom: 6px solid #d3cfc4;
    padding:15px;
}
.slider>ul .active{
    border-bottom: 6px solid black;
}
.slider>ul li:not(.active){
    padding: 24px ;
}
ul{
    margin:0;
}
.slider{
    margin-left:auto
}
section:nth-child(3){
    margin-bottom: 130px;
    margin-top: 110px;
    background-color: rgb(245, 245, 245);
}
.section2-content{
    height: 600px;
}
.sec2-item-left{
    width: 50%;
}
.sec2-item-right {
    width: 30%;
    flex: 1 0 auto;
    position: relative;
}
.sec2-item-left img{
    height: 510px;
}
.sec2-slider{
    width: 130px;
}
.sec2-item-content>h2{
    font-size: 50px;
    letter-spacing: 1px;
    z-index: 2;
    position: relative;
}
.sec2-item-content>h2>span{
    font-family: "FuturaBold","sans-serif"!important;
    font-size: 50pt;
    
}
.sec2-item-content>p{
    text-transform: uppercase;
    font-family: "FuturaDemi","sans-serif"!important;
}
/* .sec2-item-content{
    padding-right: 60px;
} */
.redqd{
    height: 90px;
    width: 72px;
    position: absolute;
    background-color: #e64344;
    top: 21%;
    left: 82.5%;
}

footer{
    background-color: rgb(245, 245, 245);
}
section:nth-child(5){
    height: 600px;
    margin-top: 135px;
}
.ptext{
    position: absolute;
    left: 27%;
    top: 38%;
}
section:nth-child(6){
    height: 690px;
    background-color: rgb(245, 245, 245);
}
.section5-content{
    padding: 120px 65px 85px 65px;
    position: relative;
}
.section5-content img {
    height: auto;
}

@font-face{
    font-family: 'FuturaBook';
    src: url('fonts/FuturaPTBook.otf');
}
@font-face{
    font-family: 'FuturaDemi';
    src: url('fonts/FuturaPTDemi.otf');
}
@font-face{
    font-family: 'FuturaBold';
    src: url('fonts/futurafuturisc-bold.otf');
}
.sec4-item-right{
    margin-left: auto;
    padding-right: 60px;
}
.sec4-item-left{
    margin-left:140px;
    position: relative;
}
.sec4-item-content>h2>span{
    font-size: 50pt;
    font-family: 'FuturaBold';
    z-index: 3;
    position: relative;
}
.sec4-item-content>p{
    text-transform: uppercase;
    font-weight: bold;
}
.redqd4{
    position: absolute;
    width: 72px;
    height: 90px;
    background-color: #e64344;
    top: 21%;
}
.sec3-left{
    position: relative;
    width: 50%;
}
.sec3-left>span{
    transform: rotate(270deg);
    height: fit-content;
    font-family: 'FuturaBold';
    font-size: 90pt;
    color:#f6f5f3;
    position: absolute;
    top: 0;
    top: 16%;
    left: -12%;
}
.section3-content{
    padding-bottom: 90px;
    padding-left: 65px;
    position: relative;
}
.atcsec3{
    position: absolute;
    top: 72%;
    left: 3%;
}
.sec3-right>h2 span{
    font-size: 75pt;
    font-family: 'FuturaBold','sans-serif';
}
.sec3-right{
    position: relative;
}
.sec3-left>img{
    right: -100px;
    position: relative;
}
.sec3-pagin{
    margin: 0 65px;
}
.sec3-redqd{
    position: absolute;
    width: 250px;
    height: 72px;
    background-color: #e64344;
    top: 14%;
    left: 15%;
    z-index: -1;
}
.section0-content{
    padding-left:65px
}
.pagins li{
    margin-top:20px;
    color:#dfdcd4
}
.section0-item1{
    margin-right:70px
}
.section0-item1 ul{
    margin-top:70px
}
.nikes-flex-item1,.nikes-flex-item2,.nikes-flex-item3, .nikes-flex-item4{
    flex: 0 0 250px;
    min-width: 250px;
    margin-left: 4px;
    background-color:#f5f5f5;
    
}
.nikes-flex-item1 div img{
    height: 321px;
}
.nikes-flex-item1,.nikes-flex-item2,.nikes-flex-item3, .nikes-flex-item4{
    box-shadow: 0px 11px 9px 2px #ebebeb;
}
.item-subtitle span{
    font-family: 'FuturaDemi','sans-serif'!important;
    font-size: 13pt;
    color:#d3cfc4;
    padding-left:30px
}
li.activep{
    display: inline-flex;
    transition: 0.5s;
    color:black
}
li.activep::after{
    content: '';
    width: 50px;
    height: 1px;
    background-color: black;
    margin: auto; 
}
.nikes-flex-item1:hover,.nikes-flex-item2:hover,.nikes-flex-item3:hover, .nikes-flex-item4:hover{
    background-color: #e64344;
    transition: 0.5s;
}
.item-subtitle.activep{
    padding-top:110px
}
.item-subtitle.activep>span{
    color:white;
    font-size: 16pt;
}
.item-subtitle.activep>p{
    color:white;
    padding-left:30px
}
.item-subtitle.activep>button{
    margin-left:30px;
    margin-top:80px;
    padding: 10px 45px;
    border: 1px solid white;
    color:white;
    background: none;
}
.item-subtitle.activep>button:hover{
    background: white;
    color:#e64344;
    cursor: pointer;
    transition: 0.5s;
}
